*

!.vscode/
!.vscode/tasks.json
!bash-commands
!bash-util
!docker/
!docker/server--wordpress/
!docker/server--wordpress/default.docker
!docker/server--wordpress-database/
!docker/server--wordpress-database/default.docker
!docker-compose/
!docker-compose/server--wordpress/
!docker-compose/server--wordpress/default.docker-compose
!.gitignore
!.gitmodules
!container.env
!host.env
